<aside class="bg-neutral-300 z-1 w-64 h-full top-0 border-t-4 border-gray-300 ">
  <nav class="text-cyan-950 text-base font-semibold pt-3 ">
   



    
    <a routerLink="/dashboard" class="flex items-center text-cyan-950 py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-tachometer-alt mr-4"></i>
      Dashboard
    </a>
    <a routerLink="/stations" class="flex items-center  text-cyan-950- py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-desktop mr-4"></i>
      Stations
    </a>
    <a routerLink="/addStation" class="flex items-center text-cyan-950 py-3 px-6 bg-neutral-300 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-plus mr-4"></i>
      Add Station
    </a>
    <a routerLink="/group" class="flex items-center text-cyan-950 py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-users mr-4"></i>
      Groups
    </a>
    <a routerLink="/groups/add" class="flex items-center text-cyan-950 py-3 px-6 bg-neutral-300 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-plus mr-4"></i>
      Add Group
    </a>
    <a routerLink="/configs" class="flex items-center text-cyan-950 py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-cogs mr-4"></i>
      Config
    </a>
    <a routerLink="/config/add" class="flex items-center text-cyan-950 py-3 px-6 bg-neutral-300 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-plus mr-4"></i>
      Add Config
    </a>
    <a routerLink="/Users" class="flex items-center text-cyan-950 py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-user mr-4"></i>
      Users
    </a>
    <a routerLink="/addUser" class="flex items-center text-cyan-950 py-3 px-6 bg-neutral-300 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-plus mr-4"></i>
      Add User
    </a>
    <a routerLink="/reports" class="flex items-center text-cyan-950 py-3 px-6 hover:bg-neutral-400 transition duration-500 ease-in-out rounded-xl mx-10">
      <i class="fas fa-file-alt mr-4"></i>
      Reports
    </a>
  </nav>
</aside>