<aside class="bg-gray-800 z-1 w-64 h-full top-0 border-t-4 border-gray-300">
  <nav class="text-white text-base font-semibold pt-3">
    <a routerLink="/dashboard" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-tachometer-alt mr-4"></i>
      Dashboard
    </a>
    <a routerLink="/stations" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-desktop mr-4"></i>
      Stations
    </a>
    <a routerLink="/stations/add" class="flex items-center text-white py-3 px-6 bg-indigo-500 hover:bg-indigo-600 transition duration-500 ease-in-out">
      <i class="fas fa-plus mr-4"></i>
      Add Station
    </a>
    <a routerLink="/groups" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-users mr-4"></i>
      Groups
    </a>
    <a routerLink="/groups/add" class="flex items-center text-white py-3 px-6 bg-indigo-500 hover:bg-indigo-600 transition duration-500 ease-in-out">
      <i class="fas fa-plus mr-4"></i>
      Add Group
    </a>
    <a routerLink="/config" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-cogs mr-4"></i>
      Config
    </a>
    <a routerLink="/config/add" class="flex items-center text-white py-3 px-6 bg-indigo-500 hover:bg-indigo-600 transition duration-500 ease-in-out">
      <i class="fas fa-plus mr-4"></i>
      Add Config
    </a>
    <a routerLink="/users" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-user mr-4"></i>
      Users
    </a>
    <a routerLink="/users/add" class="flex items-center text-white py-3 px-6 bg-indigo-500 hover:bg-indigo-600 transition duration-500 ease-in-out">
      <i class="fas fa-plus mr-4"></i>
      Add User
    </a>
    <a routerLink="/reports" class="flex items-center text-white py-3 px-6 hover:bg-gray-700 transition duration-500 ease-in-out">
      <i class="fas fa-file-alt mr-4"></i>
      Reports
    </a>
  </nav>
</aside>