<form
  *ngIf="form"
  [formGroup]="form"
  class="px-8 h-full min-h-[20rem] flex flex-col py-5 max-w-screen-md mx-auto bg-indigo-200 rounded-md"
>
  <div>
    <div class="mb-4 w-1/2">
      <label for="groupName" class="block text-gray-700 font-bold mb-2"
        >Group name</label
      >
      <input
        type="text"
        class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight hover:bg-gray-50 focus:outline-blue-600 transition duration-300 ease-in-out"
        id="groupName"
        formControlName="groupName"
        placeholder="Enter your group name"
      />
    </div>
  </div>
  <div
    class="grow grid grid-cols-2 gap-10 max-h-[calc(100vh-20rem)] children:max-h-[calc(100vh-20rem)]"
  >
    <div class="max-h-[20rem]">
      <div class="flex flex-col min-h-[10rem] max-h-[100%]">
        <h3 class="font-bold text-gray-700 mb-2">Stations</h3>
        <app-input-autocomplete
          [dropdown]="true"
          [options]="stations"
          [property]="'stationName'"
          [placeholder]="'Add a new station'"
          (selected)="addStation($event)"
        ></app-input-autocomplete>
        <ul class="flex-1 py-2 overflow-y-auto bg-white border">
          <li
            *ngFor="let station of form.get('stations')?.value"
            class="flex mx-3 my-1.5 justify-between bg-purple-200 py-1 px-5 text-gray-700 rounded-sm"
          >
            {{ station.stationName }}
            <button type="button" (click)="deleteStation(station)">
              <i class="fas fa-trash"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="max-h-[20rem]">
      <div class="flex flex-col min-h-[10rem] max-h-[100%]">
        <h3 class="font-bold text-gray-700 mb-2">Configurations</h3>
        <app-input-autocomplete
          [dropdown]="true"
          [options]="configs"
          [property]="'configName'"
          [placeholder]="'Add a new config'"
          (selected)="addConfig($event)"
        ></app-input-autocomplete>
        <ul class="flex-1 py-2 overflow-y-auto bg-white border">
          <li
            *ngFor="let config of form.get('configs')?.value"
            class="flex mx-3 my-1.5 justify-between bg-purple-200 py-1 px-5 text-gray-700 rounded-sm"
          >
            {{ config.configName }}
            <button type="button" (click)="deleteConfig(config)">
              <i class="fas fa-trash"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-5 gap-10">
    <app-button
      [disabled]="form.invalid"
      variant="success"
      size="md"
      (click)="save()"
      >{{
        form.value.groupId > 0 ? "Save changes" : "Create Group"
      }}</app-button
    >

    <app-button
      *ngIf="form.value.groupId > 0"
      variant="danger"
      size="md"
      (click)="delete()"
      >Delete Group</app-button
    >
  </div>
</form>
