<div class=" bg-pinky grow min-h-screen px-10 py-10 rounded-3xl m-5">

    <h1 class="text-2xl mb-10"><b>Stations</b></h1>

    <button class="float-right mr-16">
        <div class="bg-sky-200 rounded w-28 mb-5 ">
            <p class="m-2 text-center">New Station</p>
        </div>
    </button>

    <table>
        <thead>
            <tr>
                <th class="w-28 text-left">Name</th>
                <th class="w-28 text-left">IP Adress</th>
                <th class="w-24 text-left">Active</th>
                <th class="w-36 text-left">Last Backup</th>
                <th class="w-28 text-left">Status</th>

            </tr>
            <tr>
                <td class="w-28 text-left">Station</td>
                <td class="w-28 text-left">IP Adress</td>
                <td class="w-24 text-left">Active</td>
                <td class="w-36 text-left">1-1-2023</td>
                <td class="w-28 text-left">OK</td>
                <td class="w-28 text-left"><button><b>Edit</b></button></td>
            </tr>
            <tr>
                <td class="w-28 text-left">Station</td>
                <td class="w-28 text-left">IP Adress</td>
                <td class="w-24 text-left">Active</td>
                <td class="w-36 text-left">1-1-2023</td>
                <td class="w-28 text-left">ERROR</td>
                <td class="w-28 text-left"><button><b>Edit</b></button></td>
            </tr>

            <tr>
                <td class="w-28 text-left">Station</td>
                <td class="w-28 text-left">IP Adress</td>
                <td class="w-24 text-left">Active</td>
                <td class="w-36 text-left">1-1-2023</td>
                <td class="w-28 text-left">OK</td>
                <td class="w-28 text-left"><button><b>Edit</b></button></td>
            </tr>

            <tr>
                <td class="w-28 text-left">Station</td>
                <td class="w-28 text-left">IP Adress</td>
                <td class="w-24 text-left">Active</td>
                <td class="w-36 text-left">1-1-2023</td>
                <td class="w-28 text-left">OK</td>
                <td class="w-28 text-left"><button><b>Edit</b></button></td>
            </tr>

            <tr>
                <td class="w-28 text-left">Station</td>
                <td class="w-28 text-left">IP Adress</td>
                <td class="w-24 text-left">Active</td>
                <td class="w-36 text-left">1-1-2023</td>
                <td class="w-28 text-left">OK</td>
                <td class="w-28 text-left"><button><b>Edit</b></button></td>
            </tr>

        </thead>
        <tbody>

        </tbody>
    </table>


</div>