<header class="bg-gray-800 z-10 text-gray-100 flex items-center justify-between px-4 py-4 md:py-3">
  <div class="flex items-center ml-2.5">
    <span class="text-lg font-bold mr-2">
        <i class="fas fa-user"></i>
    </span>
    <span class="text-md font-bold">
      Admin
    </span>
  </div>
  <div class="text-lg font-bold">
    Backup System
  </div>
  <div class="mr-2">
    <button class="text-gray-200 hover:text-white">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>
</header>