

<div class="bg-blue-100 rounded-3xl flex flex-col">
    <h2 class="text-2xl font-bold mb-4 mt-4 text-center ">Add Station</h2>
    <div class="flex flex-row my-5 place-content-center mt-20">
        <div class="basis-auto  mr-10  ">
            <h2 class="w-24">Name:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Name" class="...">
    </div>


    <div class="flex flex-row my-5 place-content-center">
        <div class="basis-auto  mr-10  ">
            <h2 class="w-24">IP Adress:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" IP Adress" class="...">
    </div>



    <div class="flex flex-row my-5 place-content-center">
        <div class="basis-auto mr-10  ">
            <h2 class="w-24">Mac Adress:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Mac Adress" class="...">
    </div>



    <div class="flex flex-row my-5 place-content-center">
        <div class="basis-auto mr-10  ">
            <h2 class="w-24">Active</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Active" class="...">
    </div>

    

    <div class="flex flex-row my-5 place-content-center mb-20">
        <div class="basis-auto mr-10  ">
            <h2 class="w-24">Description:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Description" >
    </div>

</div>




<a class=" w-1/6 flex items-center text-cyan-950 py-3 px-6 bg-blue-200 hover:bg-blue-300 transition duration-500 ease-in-out rounded-xl mt-4">
    <i class="fas fa-plus mr-4"></i>
    Add Station
  </a>

