<div class="pinky-container">
  <h2 class="text-2xl font-semibold mb-5">Users</h2>
  <div class="flex mb-7 gap-8 justify-center">
    <app-input-autocomplete
      [options]="data"
      [property]="'username'"
      [placeholder]="'Search by name'"
      (filtered)="onFiltered($event)"
    ></app-input-autocomplete>
    <app-button variant="primary" link="/users/create"
      ><i class="fa-solid fa-plus"></i> Add User</app-button
    >
  </div>
  <app-users-table
    class="grow overflow-y-auto max-w-max mx-auto"
    style="scrollbar-gutter: stable both-edges"
    [users]="filteredData"
    (edited)="editUser($event)"
    (deleted)="deleteUser($event)"
  ></app-users-table>
</div>
