

<div class="bg-blue-100 rounded-3xl flex flex-col">
    <h2 class="text-2xl font-bold mb-4 mt-4 text-center ">Add User</h2>
    <div class="flex flex-row my-5 place-content-center mt-20">
        <div class="basis-auto  mr-10  ">
            <h2 class="w-24">Username:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Username" class="rounded">
    </div>


    <div class="flex flex-row my-5 place-content-center">
        <div class="basis-auto  mr-10  ">
            <h2 class="w-24">Email:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Email" class="rounded">
    </div>



    <div class="flex flex-row my-5 place-content-center">
        <div class="basis-auto mr-10  ">
            <h2 class="w-24">Password:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" ****************" type="password" >

    </div>



 
    

    <div class="flex flex-row my-5 place-content-center mb-20">
        <div class="basis-auto mr-10  ">
            <h2 class="w-24">Description:</h2>
        </div>
        <div class="absolute pointer-events-auto ... basis-auto ">
            <svg class="absolute text-slate-100 h-5 w-5 " fill="currentColor">
                <path clip-rule="evenodd" />
            </svg>
        </div>
        <input type="text" placeholder=" Description"  class="rounded">
        
    </div>

</div>


<div class="right">
    <a routerLink="/addUser"
        class=" w-1/6 flex place-content-center text-cyan-950 py-2 px-8 bg-blue-200 hover:bg-blue-300 transition duration-500 ease-in-out rounded-xl mt-4">
       <h3>Save</h3>
    </a>
</div>



